@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    color: azure;
    height: 75px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;

}

nav ul{
    list-style-type: none;
}

.gameContainer{
    background-color: rgb(244, 247, 246);
    display: flex;
    justify-content: center;
    margin-top: 25px;

}

.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;

}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(217,180,252);
}

.info{
    font-size: 25px;
}

.gameInfo{
    padding: 0 34px;
    font-family: 'Baloo Bhaina 2', cursive;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.b1-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 0 23px;
    padding: 6px 14px;
    background: #e5e5e5;
    border-radius: 6px;
    cursor: pointer;
}

.line{
    background-color: black;
    width: 30vw;
    height: 3px;
    position: absolute;
}

@media screen and (max-width: 950px)
{
    .gameContainer{
        width:90%
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 2.5rem;
    }
    .container{
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
    
}